/**
 * @name .Discord Improvements
 * @version 1.0.0
 * @description custom css edits
 * @author Dimu
 */

.header_f37cb1
{
    height: fit-content;
    padding: 24px;
}

.guildDropdown_f37cb1
{
    height: max-content;
}

.name_f37cb1 /* header text*/
{
    font-size: 32px;
    order: 1;
    align-self: center;
    white-space: wrap;
    text-align: left;
}

.guildIconV2Container__85d16 /* server type icon */ 
{
    display: flex;
    order: 2;
    align-self: center;
    scale: 1.5;
    white-space: wrap;
}

.headerChildren_f37cb1 /* dropdown */
{
    display: flex;
    align-self: center;
    padding-left: 8px;
}

.name__29444 /* channel name - in channel list*/ 
{
    order: 1;
}

.channelTextArea_f75fb0 /* fixes md chatbar padding */
{
    padding: 0.01px !important;
}

.channelAppLauncher_e6e74f /* hides the app launcher */
{
    display: none;
}

.container__9293f /* top channel container */
{
    height: max-content;
}

.title__9293f /* top channel title */
{
    font-size: 32px;
    white-space: wrap;
    text-align: left;
    align-self: center;
}

.titleWrapper__9293f /* top channel title container */
{
    padding: 8px;
    align-self: center;
}

.channelIcon__9293f /* top channel icon */
{
    display: flex;
    align-self: center;
    scale: 1.5;
    white-space: wrap;
    padding-left: 4px;
}

.contents_c19a55 /* container of editing messages */
{
  width: fit-content;
}
