/**
 * @name .Discord Improvements
 * @version 1.0.0
 * @description custom css edits
 * @author Dimu
 */

.header_f37cb1 {
    height: fit-content;
}

.headerContent_f37cb1 {
    gap: 24px;
}

.name_f37cb1 /* header text*/{
    font-size: 32px;
    order: 1;
    align-self: center;
    white-space: wrap;
    text-align: left;
}

.guildIconV2Container__85d16 /* server type icon */ 
{
    display: flex;
    order: 2;
    align-self: center;
    scale: 1.5;
    white-space: wrap;
}

.headerChildren_f37cb1 /* dropdown */
{
    display: flex;
    align-self: center;
}

.name__29444 /* channel name*/ 
{
    order: 1;
}
