/**
 * @name .Discord Improvements
 * @version 1.0.0
 * @description custom css edits
 * @author Dimu
 */

.header_f37cb1 {
    height: fit-content;
    /* max-height: 52px; */
}

.headerContent_f37cb1 {
    display: flex;
    justify-content: start;
    align-content: end;
    align-items: end;
    gap: 16px;

    .name_f37cb1 {
        font-size: 32px;
        order: 1;
        margin-right: 8px;
        flex: auto;
        display: inline-flex;
        width: fill-content;
        max-width: auto;
        white-space: wrap;
        -webkit-line-clamp: auto;
        align-items: center;
    }

    .guildIconV2Container__85d16 {
        display: inline-flex;
        order: 2;
        align-self: start;

        >div {
            scale: 1.5;
        }
    }

    .headerChildren_f37cb1 {
        order: 0;
        margin-left: auto;
        display: flex;
        min-height: 100%;
        align-self: start;
    }
}
.name__29444 {
        order: 1;
    }
