/**
 * @name .Material Discord
 * @version 3.0.5
 * @description A theme based on Google's Material Design
 * @author CapnKitten
 *
 * @website http://github.com/CapnKitten
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Material-Discord/css/source.css
 * @donate https://paypal.me/capnkitten
 * @invite jzJkA6Z
 */

@import url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/source.css);

/* Material You addon */
@import url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/addons/material-you/source.css);

/* Allows the custom Discord themes to work with Material Discord */
@import url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/addons/custom-themes/source.css);

/* MATERIAL YOU DARK THEME SETTINGS */
.theme-dark {
    --saturation-modifier: 0.31;
    --lightness-modifier: 0.225;
    --text-lightness-modifier: 1.0;
}

/* MATERIAL YOU LIGHT THEME SETTINGS */
.theme-light {
    --saturation-modifier: 0.74;
    --lightness-modifier: 2.125;
    --text-lightness-modifier: 1.0;
}

.mentioned_d5deea .messageContent_f9f2ca {
  background-color: hsl(190, 46%, 23%)!important;
}

.theme-dark {
  --accent-hsl--material-you:
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 2 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 1.1);
  --accent-text-color--material-you: hsl(
          var(--accent-hue),
          calc(var(--accent-saturation) * var(--saturation-modifier) * 2.9 * var(--saturation-factor)),
          calc(var(--accent-lightness) * var(--lightness-modifier) * 4.4)
      );
}
.theme-dark .lookFilled_dd4f85.colorPrimary_dd4f85 {
  --button-background: hsl(from hsl(var(--accent-hsl--material-you)) h calc(s * 0.5) calc(l * 1.5));
  --button-text-color: hsl(from var(--accent-text-color--material-you) h calc(s * 0.5) calc(l * 1.25));
}
.theme-dark .lookOutlined_dd4f85.colorPrimary_dd4f85 {
  --button-outline: 1px solid hsl(from hsl(var(--accent-hsl--material-you)) h calc(s * 0.5) calc(l * 1.5));
  --button-text-color: hsl(from var(--accent-text-color--material-you) h calc(s * 0.5) calc(l * 1.25));
}
.theme-dark .lookLink_dd4f85 {
  --button-text-color: var(--accent-text-color--material-you);
}
.theme-dark .lookLink_dd4f85.colorPrimary_dd4f85 {
  --button-text-color: var(--accent-text-color--material-you);
}

.userProfileOuterThemed_c69a7b  .banner_d5fdb1 {
    mask-image: linear-gradient(to bottom, black 0%,black 50%, transparent 100%);

}

:root {

	/* color of status indicators and window controls */
	--online-indicator: #a6da95; /* change to #23a55a for default green */
	--dnd-indicator: #ed8796; /* change to #f13f43 for default red */
	--idle-indicator: #eed49f; /* change to #f0b232 for default yellow */
	--streaming-indicator: #c6a0f6; /* change to #593695 for default purple */

	/* change online indicator color */
	rect[fill='#23a55a'],
	svg[fill='#23a55a'] {
	    fill: var(--online-indicator) !important;
	}
	.status_c7d26b[style='background-color: rgb(35, 165, 90);'] {
	    background-color: var(--online-indicator) !important;
	}
	rect[fill='#f0b232'],
	svg[fill='#f0b232'] {
	    fill: var(--idle-indicator);
	}
	.status_c7d26b[style='background-color: rgb(240, 178, 50);'] {
	    background-color: var(--idle-indicator) !important;
	}
	rect[fill='#f23f43'],
	svg[fill='#f23f43'] {
	    fill: var(--dnd-indicator);
	}
	.status_c7d26b[style='background-color: rgb(242, 63, 67);'] {
	    background-color: var(--dnd-indicator) !important;
	}
	rect[fill='#593695'],
	svg[fill='#593695'] {
	    fill: var(--streaming-indicator);
	}
	.status_c7d26b[style='background-color: rgb(89, 54, 149);'] {
	    background-color: var(--streaming-indicator) !important;
	}

	/* animations */
	/* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
	--list-item-transition: 0.2s ease; /* channels/members/settings hover transition */
	--unread-bar-transition: 0.2s ease; /* unread bar moving into view transition */
	--moon-spin-transition: 0.4s ease; /* moon icon spin */
	--icon-spin-transition: 1s ease; /* round icon button spin (settings, emoji, etc.) */

	/* ACCENT HSL AND TEXT COLOR SETTINGS */
	--accent-hue: 130;
	--accent-saturation: 41%;
	--accent-lightness: 72%;
	--accent-text-color: hsl(0,0%,100%); /* DOES NOTHING WITH MATERIAL YOU ENABLED */
	--accent-button-action: hsl(0,0%,100%);

	/* ALERT HSL AND TEXT COLOR SETTINGS */
	--alert-hue: 0;
    --alert-saturation: 85%;
    --alert-lightness: 61%;
	--alert-text-color: hsl(0,0%,100%); /* DOES NOTHING WITH MATERIAL YOU ENABLED */

	/* WARNING HSL AND TEXT COLOR SETTINGS*/
	--warning-hue: 131;
    --warning-saturation: 26%;
    --warning-lightness: 51%;
	--warning-text-color: hsl(0,0%,100%); /* DOES NOTHING WITH MATERIAL YOU ENABLED */

	/* MESSAGE SETTINGS */
	--message-radius: 18px;
	--message-padding-top: 8px;
	--message-padding-side: 12px;

	/* MESSAGE MEDIA SETTINGS */
	--media-radius: 10px;

	/* CARD SETTINGS */
	--card-radius: 8px;
	--card-radius-big: 18px;

	/* BUTTON SETTINGS */
	--button-height: 36px;
	--button-padding: 0 24px;
	--button-action-color: #8ab999

	/* INPUT SETTINGS */
	--input-height: 36px;
	--input-padding: 0 12px;

	/* POPOUT AND MODAL SETTINGS */
	--popout-radius: 8px;
	--popout-radius-big: 18px;

	/* TOOLTIP SETTINGS */
	--tooltip-color: hsl(0,0%,38%,1);
	--tooltip-text-color: hsl(0,0%,87%);
	--tooltip-font-size: 12px;
	--tooltip-padding: 8px;
	--tooltip-radius: 8px;

	/* SCROLLBAR SETTINGS */
	--scrollbar-width: 10px;
	--scrollbar-thin-width: 6px;

	/* REPLY COLOR */
	--reply-hue: 190;
	--reply-saturation: 46%;
	--reply-lightness: 23%;
	--reply-opacity: 1;
}
	/* adds square when hovering above server */
	.selected_f90abb {
    border-radius: 14.5px !important; /* adjust the 14.5px to how much you want it to curve */
    transition: border-radius 0.5s ease;
}

.wrapper_f90abb {
    transition: border-radius 0.5s ease;
}
