/**
 * @name .Material Discord
 * @version 3.0.5
 * @description A theme based on Google's Material Design; green
 * @author CapnKitten, Dimu
 *
 * @website http://github.com/CapnKitten
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Material-Discord/css/source.css
 * @donate https://paypal.me/capnkitten
 * @invite jzJkA6Z
 */

@import url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/source.css);

/* Material You addon */
@import url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/addons/material-you/source.css);

/* MATERIAL YOU DARK THEME SETTINGS */
.theme-dark {
	--saturation-modifier: 0.31;
	--lightness-modifier: 0.225;
	--text-lightness-modifier: 1.0;
	--ui-darkness-modifier: 1.0;
}

/* MATERIAL YOU LIGHT THEME SETTINGS */
.theme-light {
	--saturation-modifier: 0.74;
	--lightness-modifier: 2.125;
	--text-lightness-modifier: 1.0;
}

:root {
	/* animations */
	/* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
	--list-item-transition: 0.2s ease; /* channels/members/settings hover transition */
	--unread-bar-transition: 0.2s ease; /* unread bar moving into view transition */
	--moon-spin-transition: 0.4s ease; /* moon icon spin */
	--icon-spin-transition: 1s ease; /* round icon button spin (settings, emoji, etc.) */

	/* ACCENT HSL AND TEXT COLOR SETTINGS */
	--accent-hue: 130;
	--accent-saturation: 41%;
	--accent-lightness: 72%;
	--accent-text-color: hsl(0,0%,100%); /* DOES NOTHING WITH MATERIAL YOU ENABLED */
	--accent-button-action: hsl(0,0%,100%);

	/* ALERT HSL AND TEXT COLOR SETTINGS */
	--alert-hue: 0;
    --alert-saturation: 85%;
    --alert-lightness: 61%;
	--alert-text-color: hsl(0,0%,100%); /* DOES NOTHING WITH MATERIAL YOU ENABLED */

	/* WARNING HSL AND TEXT COLOR SETTINGS*/
	--warning-hue: 131;
    --warning-saturation: 26%;
    --warning-lightness: 51%;
	--warning-text-color: hsl(0,0%,100%); /* DOES NOTHING WITH MATERIAL YOU ENABLED */

	/* REPLY COLOR */
	--reply-hue: 190;
	--reply-saturation: 46%;
	--reply-lightness: 23%;
	--reply-opacity: 1;
}
